/* FOOTER */

html,
body {
	height: 100%;
}

@media (max-width: 979px) {
	html,
	body {
		overflow-x: hidden;
	}
}

::selection {
	background: #ffb7b7; /* Safari */
}

::-moz-selection {
	background: #ffb7b7; /* Firefox */
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push,
#footer {
	height: 60px;
}

#footer {
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
}

@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container .credit {
	margin: 20px 0;
}

/* HEADER */

.navbar-inverse .navbar-inner {
	background-color: #333333;
	background-image: -moz-linear-gradient(top,#333,#222);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#222));
	background-image: -webkit-linear-gradient(top,#333,#222);
	background-image: -o-linear-gradient(top,#333,#222);
	background-image: linear-gradient(to bottom,#333,#222);
	background-repeat: repeat-x;
	border-color: #444;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333',endColorstr='#ff222222',GradientType=0);
}

@media (max-width: 979px) {
	.logo {
		margin-left: 40px;
	}
	#nav .navbar-inner {
		text-align: center;
		padding: 0 5px;
	}
	#nav .brand {
		float: none;
	}
	#nav .nav-collapse {
	}
}

@media (min-width: 980px) {
	.jumbotron {
		padding: 50px 0 10px 0;
	}
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.jumbotron {
		position: static;
		text-align: center;
		margin-right: -20px;
		margin-left: -20px;
		padding: 10px 20px;
	}
}

@media (min-width: 1200px) {
	.span9 {
		width: 880px;
		margin-left: 20px;
	}
}

.jumbotron .container {
	border-bottom: 1px solid #ccc;
}

.jumbotron h2 {
	font-weight: normal;
}

#main {
	padding-top: 20px;
}

.logo {
	margin-top: -27px;
	margin-bottom: -20px;
}

/* SEARCH PANEL */

#search-panel {
	margin-left: 0;
}

#search-panel-inner {
	top: 60px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
	border: 1px solid #ccc;
	margin: 0 -1px 10px -1px;
	background: #fff;
}

#search-panel form {
	padding: 20px 20px 0 20px;
	border-top: 0;
	background-color: #fff;
}

#search-panel .navbar {
	margin-bottom: 0;
}

#search-panel .navbar .navbar-inner {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;
	border-bottom: 1px solid #ccc;
}

#search-panel .navbar .icon-search {
	margin-left: -5px;
	margin-right: 10px;
}

#search-panel .navbar .brand {
	font-size: 15px;
}

.show-search-form {
	margin-top: 7px !important;
}

.show-search-form i {
	margin-right: 0;
}

.show-search-form .icon-chevron-up,
.show-search-form.collapsed .icon-chevron-down {
	display: block;
}

.show-search-form .icon-chevron-down,
.show-search-form.collapsed .icon-chevron-up {
	display: none;
}

@media (min-width: 1200px) {
	#search-panel-inner {
		width: 270px;
	}
}

@media (max-width: 1199px) and (min-width: 980px) {
	#search-panel-inner {
		width: 220px;
	}
	
	#search-panel-inner textarea,  #search-panel-inner input[type="text"], #search-panel-inner input[type="password"],
	#search-panel-inner input[type="datetime"], #search-panel-inner input[type="datetime-local"], #search-panel-inner input[type="date"],
	#search-panel-inner input[type="month"], #search-panel-inner input[type="time"], #search-panel-inner input[type="week"], #search-panel-inner input[type="number"],
	#search-panel-inner input[type="email"], #search-panel-inner input[type="url"], #search-panel-inner input[type="search"],
	#search-panel-inner input[type="tel"], #search-panel-inner input[type="color"], #search-panel-inner .uneditable-input {
		max-width: 166px;
	}
	
	#search-panel-inner select {
		max-width: 180px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#search-panel-inner {
		width: 170px;
	}
	
	#search-panel-inner textarea,  #search-panel-inner input[type="text"], #search-panel-inner input[type="password"],
	#search-panel-inner input[type="datetime"], #search-panel-inner input[type="datetime-local"], #search-panel-inner input[type="date"],
	#search-panel-inner input[type="month"], #search-panel-inner input[type="time"], #search-panel-inner input[type="week"], #search-panel-inner input[type="number"],
	#search-panel-inner input[type="email"], #search-panel-inner input[type="url"], #search-panel-inner input[type="search"],
	#search-panel-inner input[type="tel"], #search-panel-inner input[type="color"], #search-panel-inner .uneditable-input {
		max-width: 116px;
	}
	
	#search-panel-inner select {
		max-width: 130px;
	}
}

@media (max-width: 767px) {
	.search-form.collapse {
		height: 0;
		overflow: hidden;
	}
	
	#search-panel-inner {
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
}

@media (min-width: 768px) {
	.search-form.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}

/* MESSAGE PANEL */

#message-panel .add-action {
	margin-bottom: 10px;
	float: right;
}

#message-panel .status {
	float: left;
	padding-top: 5px;
}

@media (max-width: 767px) {
	#message-panel .add-action, #message-panel .status {
		float: none;
		width: 100%;
	}
	#message-panel .status {
		padding: 0;
		margin-bottom: 10px;
	}
}

/* FORM PANEL */

.modal form {
	margin-bottom: 0;
}

.required {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	margin-left: 5px;
}

/* RESULTS PANEL */

.edit-action, .remove-action {
	cursor: pointer;
}