/* FOOTER */

html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push,
#footer {
	height: 60px;
}

#footer {
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
}

@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container .credit {
	margin: 20px 0;
}

/* HEADER */

@media (max-width: 979px) {
	#nav .navbar-inner {
		text-align: center;
		padding: 0 5px;
	}
	#nav .brand {
		float: none;
	}
	#nav .nav-collapse {
	}
}

@media (min-width: 980px) {
	.jumbotron {
		padding: 50px 0 10px 0;
	}
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.jumbotron {
		position: static;
		text-align: center;
		margin-right: -20px;
		margin-left: -20px;
		padding: 10px 20px;
	}
}

.jumbotron .container {
	border-bottom: 1px solid #ccc;
}

.jumbotron h2 {
	font-weight: normal;
}

#main {
	padding-top: 20px;
}

#logo {
	margin-top: -27px;
	margin-bottom: -20px;
}

/* SEARCH PANEL */


@media (max-width: 1199px) {
	#search-panel select {
		width: 180px;
	}
	
	#search-panel input, textarea, .uneditable-input {
		width: 166px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#search-panel select {
		width: 120px;
	}
	
	#search-panel input, textarea, .uneditable-input {
		width: 108px;
	}
}

#left-column {
	margin-left: 0;
	margin-bottom: 20px;
}

#search-panel {
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#search-panel form {
	padding: 20px;
	border-top: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#search-panel .navbar {
	margin-bottom: 0;
}

#search-panel .navbar .navbar-inner {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;
	border-bottom: 1px solid #ccc;
}

#search-panel .navbar i {
	margin-left: -5px;
	margin-right: 10px;
}

#search-panel .navbar .brand {
	font-size: 15px;
}

/* MESSAGE PANEL */

#message-panel .add-entry {
	margin-top: -5px;
	margin-bottom: 15px;
}
