/* FOOTER */

html,
body {
	height: 100%;
	background-position: initial initial;
	background-repeat: initial initial;
	min-width: 300px;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.datepicker{
	z-index:1151;
}

.notifications.center {
	z-index: 999999;
	top: 50px;
}

.notifications.center > div {
	width: 50%;
}

@media (max-width: 979px) {
	html,
	body {
		overflow-x: hidden;
	}
}

::selection {
	background: #ffb7b7; /* Safari */
}

::-moz-selection {
	background: #ffb7b7; /* Firefox */
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -62px;
}

#push,
#footer {
	height: 60px;
}

#footer {
	border-top: 1px solid #ddd;
	background-color: #fefefe;
}

@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container .credit {
	margin: 20px 0;
}

/* LOGIN PAGE */

body.anonymous #nav {
	margin-left: -20px;
	margin-right: -20px;
}

body.anonymous .navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

body.anonymous .logo {
	margin: -15px 0 -8px 0 !important;
}

body.anonymous #nav .brand {
	float: none !important;
	text-align: center;
}

.form-signin form {
	padding: 19px 29px 29px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin {
	margin-top: 40px;
	max-width: 350px;
	margin: 0 auto 20px;
}

.form-signin .checkbox {
	margin-left: 5px;
	margin-bottom: 15px;
	color: #555555;
}

.form-signin .form-signin-heading {
	margin: -10px auto 20px auto;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/* HEADER */

@media (max-width: 979px) {
	.logo {
		margin-left: 40px;
	}
	#nav .navbar-inner {
		text-align: center;
		padding: 0 5px;
	}
	#nav .brand {
		float: none;
	}
	#nav .nav-collapse {
	}
}

@media (min-width: 980px) {
	.jumbotron {
		padding: 50px 0 10px 0;
	}
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.jumbotron {
		position: static;
		text-align: center;
		margin-right: -20px;
		margin-left: -20px;
		padding: 10px 20px;
	}
}

@media (min-width: 1200px) {
	.span9 {
		width: 880px;
		margin-left: 20px;
	}
}

.jumbotron .container {
	border-bottom: 1px solid #ccc;
}

.jumbotron h2 {
	font-weight: normal;
}

#main {
	padding-top: 20px;
}

.logo {
	margin-top: -27px;
	margin-bottom: -20px;
}

/* SEARCH PANEL */

#search-panel {
	margin-left: 0;
}

#search-panel-inner {
	top: 60px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
	border: 1px solid #ccc;
	margin: 0 -1px 10px -1px;
	background: #fff;
}

#search-panel form {
	border-top: 1px solid #ccc;
	padding: 20px 20px 0 20px;
	background-color: #fff;
}

#search-panel .navbar {
	margin-bottom: 0;
}

#search-panel .navbar .navbar-inner {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;
}

#search-panel .navbar .icon-search {
	margin-left: -5px;
	margin-right: 10px;
}

#search-panel .navbar .brand {
	font-size: 15px;
}

.show-search-form {
	margin-top: 7px !important;
}

.show-search-form i {
	margin-right: 0;
}

.show-search-form .icon-chevron-up,
.show-search-form.collapsed .icon-chevron-down {
	display: block;
}

.show-search-form .icon-chevron-down,
.show-search-form.collapsed .icon-chevron-up {
	display: none;
}

@media (min-width: 1200px) {
	#search-panel-inner {
		width: 270px;
	}
}

@media (max-width: 1199px) and (min-width: 980px) {
	#search-panel-inner {
		width: 220px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#search-panel-inner {
		width: 170px;
	}
}

@media (max-width: 767px) {
	.search-form.collapse {
		height: 0;
		overflow: hidden;
	}
}

@media (min-width: 768px) {
	.search-form.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}

/* MESSAGE PANEL */

#message-panel .add-action {
	margin-bottom: 10px;
	float: right;
}

#message-panel .status {
	float: left;
	padding-top: 5px;
}

@media (max-width: 767px) {
	#message-panel .add-action, #message-panel .status {
		float: none;
		width: 100%;
	}
	#message-panel .status {
		padding: 0;
		margin-bottom: 10px;
	}
}

/* FORM PANEL */

.modal form {
	margin-bottom: 0;
}

.modal form .alert {
	margin: 10px 15px 0 15px;
}

.required {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	margin-left: 5px;
}

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
	margin-bottom: 0;
}

/* RESULTS PANEL */

.edit-action, .remove-action {
	cursor: pointer;
}