/* css for the tutorial page */

div.example {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 10;
}

div.highlight {
	position: relative;
	margin: -30px 0 15px 0;
	padding: 19px 19px 14px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.highlight-alt {
	position: relative;
	margin: 0px 0 15px 0;
	padding: 19px 19px 14px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.example:after {
	content: "Example";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

span.code {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: 12px;
}

span.code-emphasize {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: 14px;
	font-weight: bold;
	color: #08c;
}

span.code-gray {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: 12px;
	color: #555;
}

span.code-red {
	color: #d14;
}

span.code-teal {
	color: teal;
}

span.code-gray {
	color: #555;
}

span.code-maroon{
	color: #7B0052;
	font-weight: bold;
}

td.wider {
	width: 130px;
}

ul.side-nav {
	background-color: #f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	width: 150px;
}

ul.side-nav li a {
	padding: 4px 14px;
	cursor: pointer;
}

ul.side-nav li.nav-header{
	background-color: #f1f1f1;
}

code.prettyprint{
	background-color: #fff;
	border: 0;
	padding: 0;
}

code.prettyprint span.kwd{
	font-weight: bold;
}


a.show-modal{
	cursor: pointer;
}


/*  */