#*
Expected parameters:
  labelCode - label used in message.properties to display as title
  modelName - name of the bean
  fields    - array of fields to be displayed in the model
*#

#set ($perc = "%")
#set ($d = "$")

<%@ page contentType="text/html;utf-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jstl/fmt_rt"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="ot" uri="http://www.ideyatech.com/tides"%>
<%@ taglib prefix="idy" tagdir="/WEB-INF/tags"%>

<idy:header title_webpage="label.${formName}">
  <script src="${url_jquery}"></script>
  <script src="${url_context}/script/ideyatech-${ot_version}/crud.js"></script>
</idy:header>
    <!-- BODY -->
    <div id="bd">
        <div class="yui-g">
        <div class="main" id="${formName}">
            <div class="title-wrapper">
                <div class="title" id="${formName}-title"><span><spring:message code="label.${formName}" /></span></div>
            </div> 
            
            <div class="contents">
## Set counter for searchable and listed fields
#set ( $countSearchable = 0)
#set ( $countListed = 0)
#foreach( $field in $fields )
## Check if field is searchable.
#if ( ${field.isSearchable} )
	#set ( $countSearchable = $countSearchable + 1 ) ## Add to count if there is a searchable field
#end
## End of if statement.
## Check if field is listed.
#if ( ${field.isListed} )
	#set ( $countListed = $countListed + 1 ) ## Add to count if there is a listed field
#end
## End of if statement.
#end
## End of foreach loop.
## Check if there is a searchable field.
#if ( $countSearchable != 0 )
	            <div id="search-criteria">
					<form:form commandName="${modelName}" id="${modelName}Search" action="${url_context}/${formName}.jspx">
#foreach( $field in $fields )
#if ( ${field.isSearchable} )
						#parse("${fieldTemplatePath}${field.fieldType}-form.inc_.vm")
#end
## End of inner if statement.
#end
## End of foreach loop
#if ( $countListed != 0 )
					<ot:sort_input searchFormId="${modelName}Search"/>
#end
					<input type="submit" name="Submit_" value="<spring:message code="label.submit" />" />					
					</form:form>
				</div>
#end
## End of outer if statement

#parse("${fieldTemplatePath}multiRecord-form.inc_.vm")

	            <ot:paging results="${ results }" baseURL="${formName}.jspx" pageParamName="page" displaySummary="false" displayPageLinks="true" #if ( $countSearchable != 0 )searchFormId="${modelName}Search"#end/>	            	
        	</div>
        </div>
        </div>    
    </div>
    <!-- END OF BODY -->
<!-- FOOT -->
<idy:footer /> 